.jumbotron {
  background-image:  url(../images/hero.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;
  
 
  
}
.navbar {
  background-color: transparent;
  border: none;
  color: white;
  /*z-index: 100; */
  /*transition: background-color 1s ease 0s; */
}

.hero-heading {
  padding-top: 10%;
  color: aliceblue;
  text-align: center;
}

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.selector{
  padding: 20px;
  background-color:rgb(136, 109, 10);
}
.select{
  margin-left: 30px;
}