.jumbotron {
  background-image:  url(../images/hero.jpg);
}
.navbar {
  background-color: transparent;
  border: none;
  color: white;
  /*z-index: 100; */
  /*transition: background-color 1s ease 0s; */
}